<div class="container-custom">
  <!-- <form [formGroup]="momentForm" (ngSubmit)="onSubmit()"> -->
  <div class="title-tag">
    <div class="title">
      <!-- <form class="example-form"> -->
      <mat-form-field class="example-full-width">
        <mat-label class="text">Title</mat-label>
        <input [(ngModel)]="momentTitle" type="text" matInput />
      </mat-form-field>
      <!-- </form> -->
    </div>
    <div class="tags">
      <!-- <form class="example-form"> -->
      <mat-form-field class="example-chip-list">
        <mat-label class="text">Select Tags</mat-label>
        <mat-chip-list #chipList aria-label="Tags">
          <mat-chip
            *ngFor="let tag of tags"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(tag)"
          >
            {{ tag }}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="New Tag..."
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)"
          />
        </mat-chip-list>
      </mat-form-field>
      <!-- </form> -->
    </div>
    <div class="image-upload">
      <mat-card>
        <ng-container *ngIf="imageURL">
          <img class="image-sec" [src]="imageURL" />
        </ng-container>
        <input type="file" accept="image/*" (change)="onChange($event)" />
        <button mat-button color="primary" (click)="onUpload()">Upload</button>
        <div class="container" *ngIf="loading">
          <h3>Loading ...</h3>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="submit-button">
    <button type="submit" mat-button color="primary" (click)="onEdit()">
      Edit
    </button>
  </div>
  <!-- </form> -->
</div>
