<!-- <div id="mySidenav" class="sidenav">
  <a class="closebtn" (click)="onNav()">&times;</a>
  <a [routerLink]="['/dashboard/moments-list']">Moments List</a>
  <a [routerLink]="['/dashboard/add-new-moment']">Add new moment</a>
</div> -->
<!-- <app-sidenavbar></app-sidenavbar> -->
<!-- <div id="main" class="nav-custom">
  <div class="main-nav-class">
    <span style="font-size: 30px; cursor: pointer" (click)="onNav()"
      >&#9776;
    </span>
  </div>
  <div class="logout-button">
    <button
      class="btn btn-outline-success"
      type="submit"
      (click)="userService.logout()"
    >
      Log Out
    </button>
  </div>
</div> -->
<!-- <app-navbar></app-navbar> -->
<!-- <div id="main-contain">
  <router-outlet></router-outlet>
</div> -->
