<div class="alert alert-success textAlign" *ngIf="authMessage">
  <div>
    <p class="textAlign">{{ authMessage }}</p>
  </div>
</div>
<form
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit($event)"
  class="form-horizontal"
>
  <div class="alert alert-danger textAlign" *ngIf="failMessage">
    <div>
      <p class="textAlign">{{ failMessage }}</p>
    </div>
  </div>
  <div class="alert alert-success textAlign" *ngIf="successMessage">
    <div>
      <p class="textAlign">{{ successMessage }}</p>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Login Here</h4>
    </div>
    <div class="card-body">
      <div class="row form-group" [ngClass]="{ 'has-error': formErrors.email }">
        <label for="email" class="col-sm-4 control-label fontWeight"
          >Email</label
        >
        <div class="col-sm-8">
          <input
            type="text"
            formControlName="email"
            id="email"
            class="form-control"
            (blur)="logValidationErrors()"
          />
          <span class="help-block errorMessageStyle" *ngIf="formErrors.email">
            {{ formErrors.email }}
          </span>
        </div>
      </div>
      <div
        class="row form-group"
        [ngClass]="{ 'has-error': formErrors.password }"
      >
        <label for="password" class="col-sm-4 control-label fontWeight"
          >Password</label
        >
        <div class="col-sm-8">
          <div class="input-group">
            <input
              [type]="passwordFieldTextType ? 'text' : 'password'"
              formControlName="password"
              id="password"
              class="form-control"
              (blur)="logValidationErrors()"
            />
            <div class="input-group-append">
              <span class="input-group-text">
                <i
                  class="fa"
                  [ngClass]="{
                    'fa-eye-slash': !passwordFieldTextType,
                    'fa-eye': passwordFieldTextType
                  }"
                  (click)="togglePasswordFieldTextType()"
                ></i>
              </span>
            </div>
          </div>
          <span
            class="help-block mr-auto errorMessageStyle"
            *ngIf="formErrors.password"
          >
            {{ formErrors.password }}
          </span>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="button-group">
        <button
          [disabled]="loginForm.invalid || submitButtonStatus"
          type="submit"
          class="btn btn-primary"
        >
          Login
        </button>
        <p>
          Create a Account?
          <a class="signupBtn" routerLink="/signup">Sign Up</a>
        </p>
      </div>
    </div>
  </div>
</form>
