/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import "~bootstrap/dist/css/bootstrap.min.css";
// .mat-form-field-underline {
//   background-color: black !important;
// }
// Mat table

.mat-table {
  width: 100%;
}
.active {
  color: white;
  background-color: #001b30 !important;
}
.active a:hover {
  color: white;
}
.mat-paginator-container {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}
